<div class="jfc-container border-bottom">
    <div class="jfc-box">
        <div class="cell">
            <div>
                <div class="jfc-container no-padding">
                    <div class="jfc-box">
                        <div class="cell no-border">
                            <div class="jfc-item-title no-margin" ng-show="mode != 'edit'">{{item.id}}</div>
                            <div ng-show="mode == 'edit'">
                                <uitext ng-model="item.id" readonly="true"></uitext>
                            </div>
                        </div>
                    </div>
                    <div class="jfc-box">
                        <div class="cell no-border">
                            <div class="jfc-item-title no-margin" ng-show="mode != 'edit'">{{item.type}}</div>
                            <div ng-show="mode == 'edit'">
                                <uiselect ng-model="item.type" list="typeList"></uiselect>
                            </div>
                        </div>
                    </div>
                    <div ng-if="item.type !== 'Actor'" class="jfc-box">
                        <div class="cell no-border">
                            <div class="jfc-item-title no-margin" ng-show="mode != 'edit'">{{item.name}}</div>
                            <div ng-show="mode == 'edit'">
                                <uitext ng-model="item.name"></uitext>
                            </div>
                        </div>
                    </div>
                    <div ng-if="item.type !== 'Actor'" class="jfc-box">
                        <div class="cell jfc-width-100 no-border">                
                            <div class="jfc-item-title no-margin" ng-show="mode != 'edit'">{{item.description}}</div>
                            <div ng-show="mode == 'edit'">
                                <uitextarea ng-model="item.description"></uitextarea>
                            </div>                        
                        </div>
                    </div>
                    <div ng-if="item.type == 'Actor'" class="jfc-box"  ng-repeat="actor in item.actors">
                        <div class="cell jfc-width-100 no-border jfc-list-options">                
                            <div>
                                <div class="jfc-container no-padding">
                                    <div class="jfc-box">
                                        <div class="cell no-margin">
                                            <div class="no-padding no-margin" ng-show="mode != 'edit'">{{actor.name}}</div>
                                            <div ng-show="mode == 'edit'">
                                                <uitext ng-model="actor.name"></uitext>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="jfc-container jfc-list-options no-padding">
                                    <div class="jfc-box">
                                        <div class="cell no-margin">
                                            <div class="no-padding no-margin" ng-show="mode != 'edit'">{{actor.contact}}</div>
                                            <div ng-show="mode == 'edit'">
                                                <uitext ng-model="actor.contact"></uitext>
                                            </div>
                                        </div>
                                        <div class="cell no-margin">
                                            <div class="no-padding no-margin" ng-show="mode != 'edit'">{{actor.email}}</div>
                                            <div ng-show="mode == 'edit'">
                                                <uitext ng-model="actor.email"></uitext>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                        
                        </div>
                    </div>
                
                    <div class="jfc-box">
                        <div class="cell jfc-width-100 align-center">
                            <div class="jfc-item-title">Options</div>
                        </div>
                    </div>
                    <uichartoption ng-repeat="subitem in item.options"></uichartoption>
                </div>
            </div>
        </div>
        <div class="cell align-middle align-left jfc-width-10">
            <div class="jfc-container no-padding">
                <div class="jfc-box">
                    <div class="cell no-border">
                        <button ng-show="mode != 'edit'" class="btn icon icon-edit" ng-click="doEdit()"></button>
                        <button ng-show="mode == 'edit'" class="btn icon icon-submit" ng-click="doSubmit()"></button>
                    </div>
                </div>
                <div class="jfc-box">
                    <div class="cell no-border">
                        <button class="btn icon icon-stop" ng-click="doDelete(this)"></button>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>