<div class="jfc-box">
    <div class="cell">
        <div>
            <div class="jfc-container jfc-list-options no-padding">
                <div class="jfc-box">
                    <div class="cell no-margin">
                        <div class="no-padding no-margin" ng-show="mode != 'edit'">{{subitem.name}}</div>
                        <div ng-show="mode == 'edit'">
                            <uitext ng-model="subitem.name"></uitext>
                        </div>
                    </div>
                    <div class="cell jfc-width-49">
                        <div class="no-padding no-margin" ng-show="mode != 'edit'">{{subitem.charts}}</div>
                        <div ng-show="mode == 'edit'">
                            <uiselect ng-model="subitem.charts" change="chartChange" valuefield="chartValueField" list="optionList"></uiselect>
                        </div>
                    </div>
                </div>
            </div>
        </div>                        
    </div>
</div>