<div class="jfc-search form-control">
  <div class="jfc-search-thumb" ng-class="type" ng-click="expandList()" role="presentation">
    <div class="jfc-search-list" ng-class="{'select-list-hidden': !expand}">
      <ul class="" style="display:inline-block;">
        <li ng-repeat="item in list" style="display:inline-block;">
          {{item}} <a class="icon icon-search-thumb" ng-click="itemSelect(item)"></a>
        </li>     
      </ul>
      <ul ng-transclude></ul>
    </div>   
    <input type="text" ng-model="value" ng-enter="" placeholder="{{placeholder}}"></input>
    <button class="btn icon icon-search-thumb"></button>
  </div>
</div>
