<div id="page-body" style="">
    <div class="jfc-container align-center">
        <div class="jfc-box">
            <div class="header-bar menu-heading">
                <div class="beta">Playbook</div>
            </div>
        </div>
    </div>
    <div class="jfc-container after-spacer">
        <div class="jfc-box">
            <div class="cell menu-heading">
                <div>
                    <h2 class="medium">Chart Configuration</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="jfc-container jfc-width-96 after-spacer">
        <label class="jfc-box" class="align-left">
            <span class="cell medium after-spacer before-spacer align-middle">
                <span>Prefix</span>
            </span>
            <span class="cell">
                <span>
                    <uitext ng-model="editor.idPrefix"></uitext>
                </span>
            </span>
        </label>
        <label class="jfc-box" class="align-left">
            <span class="cell medium after-spacer before-spacer align-middle">
                <span>Environment</span>
            </span>
            <span class="cell">
                <span>
                    <uiselect ng-model="editor.environment" list="environmentList"></uiselect>
                </span>
            </span>
        </label>
        <label class="jfc-box" class="align-left">
            <span class="cell medium after-spacer before-spacer align-middle">
                <span>Portal</span>
            </span>
            <span class="cell">
                <span>
                    <uiselect ng-model="editor.portal" list="portalList"></uiselect>
                </span>
            </span>
        </label>
        <label class="jfc-box" class="align-left">
            <span class="cell medium after-spacer before-spacer align-middle">
                <span>Project</span>
            </span>
            <span class="cell after-spacer">
                <span>
                    <uiselect ng-model="editor.project" list="projectList"></uiselect>
                </span>
            </span>
        </label>
    </div>
    <div class="jfc-container jfc-toolbar">
        <div class="jfc-box">
            <div class="cell menu-heading">
                <div>
                    <h2 class="medium">Build List</h2>
                </div>
            </div>
        </div>
        <div class="jfc-box">
            <div class="jfc-container">
                <div class="cell align-middle align-left">
                    <div>
                        <button class="btn btn-medium" ng-click="printChartJson()">
                            <i class="icon icon-add medium"></i>
                            <span class="medium">Console-log</span>
                        </button>
                    </div>
                </div>
                <div class="cell align-middle align-right">
                    <div>
                        <button class="btn btn-medium" ng-click="addChartItem()">
                            <i class="icon icon-add medium"></i>
                            <span class="medium">Chart</span>
                        </button>
                        <button class="btn btn-medium" ng-click="addOption()">
                            <i class="icon icon-add medium"></i>
                            <span class="medium">Option</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="jfc-container jfc-list" ng-show="editor.chartList.length > 0">
        <uichartitem ng-repeat="item in editor.chartList" ng-click="selectItem(item)" ng-class="{'jfc-list-item-selected':(item.id === editor.internal.selected.id)}"></uichartitem>
    </div>
</div>
<div id="chartcanvas">
    <div id="chartscene">
        <span style="display:hidden;" ng-init="xIndex = $index;yInit=0;initRepeatValues($index, 0);" ng-repeat-start="itemHolder in editor.parsedList"></span>
        <div ng-repeat-start="item in itemHolder" id="{{item.id}}" class="card" ng-init="yIndex = $index;rearrangeChart(item, xIndex, $index, yInit, editor.parsedList)" ng-style="item.internal.style" style="left: 0px; top: 0px; z-index: 10;">
            <div class="title">
                <span class="fa fa-task"></span>{{item.name}}
                <!--  {{xIndex}} {{$index}} {{yInit}} -->
            </div>
            <div class="content">
                {{item.description}}
            </div>
            <div class="options">
                <div ng-repeat="subitem in item.options">
                    <div>
                        <span>{{subitem.name}}</span>
                        <span class="fa fa-play"></span>
                    </div>
                </div>
            </div>
        </div>
        <div ng-repeat="subitem in item.options" id="{{subitem.charts}}-arrow" 
             ng-init="rearrangeOption(subitem, item, xIndex, yIndex, $index, yInit, editor.parsedList)" 
             ng-class="subitem.internal.class" ng-style="subitem.internal.style" style="width: 78px; left: 0px; top: 92.1875px;">
            <div></div>
            <div></div>
        </div>
        <span style="display:hidden;" ng-repeat-end></span>
        <span style="display:hidden;" ng-repeat-end></span>
    </div>
</div>
