<div class="property-pane" style="">
    <div class="jfc-container">            
        <div class="jfc-box">
            <div class="pull-left align-middle header-bar jfc-width-10">
                <button class="btn icon icon-back" ng-click="editor.toggleEditor()"></button>
            </div>
            <div class="align-middle align-center header-bar align-center menu-heading">
                <div class="beta">Playbook</div>
            </div>
        </div>
    </div>
    <div ng-show="editor.internal.editconfig" class="jfc-container after-spacer">
        <div class="jfc-box">
            <div class="cell menu-heading">
                <div>
                    <h2 class="medium">Chart Configuration</h2>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="editor.internal.editconfig" class="jfc-container jfc-width-96 after-spacer" ng-controller="ConfigController">
        <label class="jfc-box" class="align-left">
            <span class="cell medium after-spacer before-spacer align-middle">
                <span>Name</span>
            </span>
            <span class="cell">
                <span>
                    <uitext ng-model="editor.name"></uitext>
                </span>
            </span>
        </label>
        <label class="jfc-box" class="align-left">
            <span class="cell medium after-spacer before-spacer align-middle">
                <span>Prefix</span>
            </span>
            <span class="cell">
                <span>
                    <uitext ng-model="editor.idPrefix"></uitext>
                </span>
            </span>
        </label>
        <label class="jfc-box" class="align-left">
            <span class="cell medium after-spacer before-spacer align-middle">
                <span>Portal</span>
            </span>
            <span class="cell">
                <span>
                    <uiselect ng-model="editor.portal" list="application.portalList" displayField="portalNm" valuefield="portalValueField"></uiselect>
                </span>
            </span>
        </label>
        <label class="jfc-box" class="align-left">
            <span class="cell medium after-spacer before-spacer align-middle">
                <span>Environment</span>
            </span>
            <span class="cell">
                <span>
                    <uiselect ng-model="editor.environment" list="application.environmentList" valuefield="environmentValueField"></uiselect>
                </span>
            </span>
        </label>
        <label class="jfc-box" class="align-left">
            <span class="cell medium after-spacer before-spacer align-middle">
                <span>Module</span>
            </span>
            <span class="cell after-spacer">
                <span>
                    <uiselect ng-model="editor.project" list="application.projectList" valuefield="projectValueField"></uiselect>
                </span>
            </span>
        </label>
        <label class="jfc-box" class="align-left">
            <span class="cell medium after-spacer before-spacer align-middle">
                <span>Owner</span>
            </span>
            <span class="cell">
                <span>
                    <uitext ng-model="editor.owner"></uitext>
                </span>
            </span>
        </label>
    </div>
    <div class="jfc-container jfc-toolbar">
        <div class="jfc-box">
            <div class="cell menu-heading">
                <div>
                    <h2 class="medium">Chart Item Properties</h2>
                </div>
            </div>
        </div>
        <div class="jfc-box">
            <div class="jfc-container">
                <div class="cell align-middle align-left">
                    <div>
                        <button class="btn btn-medium" ng-click="exportChartJson()">
                            <i class="icon icon-database medium"></i>
                            <span class="medium">Export</span>
                        </button>
                    </div>
                </div>
                <div class="cell align-middle align-right">
                    <div>
                        <button ng-if="editor.chartList.length == 0" class="btn btn-medium" ng-click="addChartItem()">
                            <i class="icon icon-add medium"></i>
                            <span class="medium">Begin</span>
                        </button>
                        <button ng-if="editor.editList.length > 0 && editor.editList[0].type != 'End'" class="btn btn-medium" ng-click="addOption()">
                            <i class="icon icon-add medium"></i>
                            <span class="medium">Option</span>
                        </button>
                        <button ng-if="editor.editList.length > 0 && editor.editList[0].type == 'Actor'" class="btn btn-medium" ng-click="addActor()">
                            <i class="icon icon-add medium"></i>
                            <span class="medium">Actor</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="jfc-container jfc-list" ng-show="editor.editList.length > 0">
        <uichartitem ng-repeat="item in editor.editList" 
                     ng-mouseenter="showAllCustomiseTool($event, true)" ng-mouseleave="showAllCustomiseTool($event, false)"
                     ng-click="selectItem(item)" ng-class="{'jfc-list-item-selected':(item.id === editor.internal.selected.id)}"></uichartitem>
        <div class="jfc-container">
            <div class="cell align-middle align-left">
                <div>
                    <button class="btn btn-medium" ng-click="exportChartJson()">
                        <i class="icon icon-database medium"></i>
                        <span class="medium">Export</span>
                    </button>
                </div>
            </div>
            <div class="cell align-middle align-right">
                <div>
                    <button ng-if="editor.chartList.length == 0" class="btn btn-medium" ng-click="addChartItem()">
                        <i class="icon icon-add medium"></i>
                        <span class="medium">Begin</span>
                    </button>
                    <button ng-if="editor.editList.length > 0 && editor.editList[0].type != 'End'" class="btn btn-medium" ng-click="addOption()">
                        <i class="icon icon-add medium"></i>
                        <span class="medium">Option</span>
                    </button>
                    <button ng-if="editor.editList.length > 0 && editor.editList[0].type == 'Actor'" class="btn btn-medium" ng-click="addActor()">
                        <i class="icon icon-add medium"></i>
                        <span class="medium">Actor</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="jfc-container jfc-list">
        <div class="jfc-box">
            <div class="cell menu-heading">
                <div>
                    <h2 class="medium">Editor Hints</h2>
                </div>
            </div>
        </div>
        <div class="jfc-box">
            <div class="cell">
                <div>
                    <ul>
                        <li>
                            Move Cursor on to the chart item or its properties to view the customization options like 
                            <i class="icon icon-config medium"></i> 
                            <i class="icon icon-stop medium"></i> 
                            <i class="icon icon-add-option medium"></i> 
                            <i class="icon icon-add-actor medium"></i> 
                        </li>
                        <li>Click <i class="icon icon-config medium"></i> to change Chart Title.</li>
                        <li>Click <i class="icon icon-add-option medium"></i> options to add new item.</li>
                        <li>Click <i class="icon icon-add-actor medium"></i> options to add new actor to the selected chart item.</li>
                        <li>Select Type[Begin/Actor/Activity/End] to convert to Actor, Activity or End.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="chartcanvas" ng-controller="SceneController">
    <div id="chartTitle" class="large mono bold">{{editor.name}}</div>
    <div id="chartscene">
        <span style="display:hidden;" ng-init="xIndex = $index;yInit=0;initRepeatValues($index, 0);" ng-repeat-start="itemHolder in editor.parsedList"></span>
        <div ng-repeat-start="item in itemHolder" id="{{item.id}}" class="card-holder"
             ng-init="yIndex = $index;rearrangeChart(item, xIndex, $index, yInit, editor.parsedList)" 
             ng-style="item.internal.style"
             ng-mouseover="showCustomiseTool($event, true)" ng-mouseleave="showCustomiseTool($event, false)">
            <div class="customise-tool jfc-hide" ng-style="{'width': (item.type == 'Actor' ? '105px' : '70px')}">
                <button ng-click="manageConfig()">
                    <i class="icon icon-config medium"></i>
                </button>
                <button ng-click="deleteCard()">
                    <i class="icon icon-stop medium"></i>
                </button>
                <button ng-if="item.type == 'Actor'" ng-click="addActor()">
                    <i class="icon icon-add-actor medium"></i>
                </button>
                <button ng-click="addOption()">
                    <i class="icon icon-add-option medium"></i>
                </button>
                <div class="card-info small">#{{item.id}}</div>
            </div>
            <div class="card" ng-click="selectCard(item, editor.parsedList, editor)" ng-class="item.internal.class">
                <div ng-if="item.type == 'Activity'" class="title">
                    <span class="fa fa-task"></span>{{item.name}}
                </div>
                <div ng-if="item.type == 'Begin' || item.type == 'End'" class="content card-special">
                    <div>
                        <div class="jfc-width-20">
                            <i  ng-if="item.type == 'Begin'" class="icon icon-flag-start x-large"></i>
                            <i  ng-if="item.type == 'End'" class="icon icon-flag-end x-large"></i>
                        </div>
                        <div>
                            <div class="medium special-title">{{item.name}}</div>
                            <div class="small">{{item.description}}</div>
                        </div>
                    </div>
                </div>
                <div ng-if="item.type == 'Activity'" class="content">
                    {{item.description}}
                </div>
                <div ng-if="item.type == 'Actor'" class="actors jfc-width-100">
                    <div class="actor" ng-repeat="actor in item.actors" id="{{actor.id}}">
                        <div></div>
                        <div>
                            <div class="medium">{{actor.name}}</div>
                            <div class="small">{{actor.email}}</div>
                            <div class="small">{{actor.contact}}</div>                        
                        </div>
                    </div>
                </div>
                <div class="options">
                    <div ng-repeat="subitem in item.options" id="{{subitem.id}}" 
                         ng-mouseover="highlightRelation(this, true)" ng-mouseleave="highlightRelation(this, false)">
                        <div>
                            <span>{{subitem.name}}</span>
                            <span class="fa fa-play"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-repeat="subitem in item.options" id="{{subitem.id}}-arrow-{{subitem.charts}}" 
             ng-init="rearrangeOption(subitem, item, xIndex, yIndex, $index, yInit, editor.parsedList)" 
             ng-class="subitem.internal.class" ng-style="subitem.internal.style" style="width: 78px; left: 0px; top: 92.1875px;">
            <div></div>
            <div>
                <div></div>
                <div></div>
            </div>
            <div></div>
        </div>
        <span style="display:hidden;" ng-repeat-end></span>
        <span style="display:hidden;" ng-repeat-end></span>
    </div>
</div>
