<div class="logo_container">
	<img src="resources/images/logo.png" />
</div>
<div id="chartcanvas" style="right:0;" ng-controller="SceneController">
    <div id="chartTitle" class="large mono bold">{{chart.name}}</div>
    <div id="chartscene">        
        <div ng-repeat-start="item in chart.chartList" id="{{item.id}}" class="card"              
             ng-style="item.internal.style" ng-class="item.internal.class"
             ng-click="selectCard($event, item, chart.chartList, editor)">
            <div ng-if="item.type == 'Activity'" class="title">
                <span class="fa fa-task"></span>{{item.name}}
            </div>
            <div ng-if="item.type == 'Begin' || item.type == 'End'" class="content card-special">
                <div>
                    <div class="jfc-width-20">
                        <i  ng-if="item.type == 'Begin'" class="icon icon-flag-start x-large"></i>
                        <i  ng-if="item.type == 'End'" class="icon icon-flag-end x-large"></i>
                    </div>
                    <div>
                        <div class="medium special-title">{{item.name}}</div>
                        <div class="small" ng-bind-html="item.description | formattext"></div>
                    </div>
                </div>
            </div>
            <div ng-if="item.type == 'Activity'" class="content" ng-bind-html="item.description | formattext"></div>
            <div ng-if="item.type == 'Actor'" class="actors jfc-width-100">
                <div class="actor" ng-repeat="actor in item.actors" id="{{actor.id}}">
                    <div></div>
                    <div>
                        <div class="medium">{{actor.name}}</div>
                        <div class="small">{{actor.email}}</div>
                        <div class="small">{{actor.contact}}</div>                        
                    </div>
                </div>
            </div>
            <div class="options">
                <div ng-repeat="subitem in item.options" id="{{subitem.id}}" 
                     ng-mouseover="highlightRelation(this, true)" ng-mouseleave="highlightRelation(this, false)">
                    <div>
                        <span>{{subitem.name}}</span>
                        <span class="fa fa-play"></span>
                    </div>
                </div>
            </div>
        </div>
        <div ng-repeat="subitem in item.options" id="{{subitem.id}}-arrow-{{subitem.charts}}"               
             ng-class="subitem.internal.class" ng-style="subitem.internal.style">
            <div></div>
            <div>
                <div></div>
                <div></div>
            </div>
            <div></div>
        </div>
        <span style="display:hidden;" ng-repeat-end></span>        
    </div>
    <div id="chartDetail" ng-show="false">
        <div class="mono x-large">{{control.detail.title}}</div>
        <div class="mono">{{control.detail.content}}</div>
        <div class="icon icon-collapse" ng-class="{'icon-expand': !control.detail.enabled}" ng-click="control.detail.toggle()"><div>
    </div>
</div>
