<!doctype html>
<html ng-app="JFC" ng-strict-di>

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0" />
  <!-- , minimal-ui -->
  <meta charset="UTF-8">
  <link rel="stylesheet" href="resources/css/app.css" media="all">
  <link rel="stylesheet" href="resources/css/demo.css" media="all">

  <script src="resources/js/libs/angular.min.js"></script>
  <script src="resources/js/libs/angular-resource.min.js"></script>
  <script src="resources/js/libs/angular-route.min.js"></script>
  <script src="resources/js/libs/angular-touch.min.js"></script>
  <script src="resources/js/libs/angular-animate.min.js"></script>
  <script src="resources/js/libs/angular-messages.min.js"></script>
  <script src="resources/js/libs/angular-cookies.min.js"></script>
  <script src="resources/js/libs/ngStorage.min.js"></script>

  <script src="app/services/AUTHProvider.js"></script>
  <script src="app/services.js"></script>

  <script src="app/controller/HomeController.js"></script>
  <script src="app/controller/LoginController.js"></script>
  <script src="app/controller/AdminController.js"></script>
  <script src="app/controller/SceneController.js"></script>
  <script src="app/controller/UISelectController.js"></script>
  <script src="app/controller/UISearchController.js"></script>
  <script src="app/controller/UITextController.js"></script>
  <script src="app/controller/UITextAreaController.js"></script>
  <script src="app/controller/UIChartItemController.js"></script>
  <script src="app/controller/UIChartOptionController.js"></script>  
  <script src="app/controller/ApplicationController.js"></script>

  <script src="app/directives/uiselect.js"></script>
  <script src="app/directives/uisearch.js"></script>
  <script src="app/directives/uitext.js"></script>
  <script src="app/directives/uitextarea.js"></script>
  <script src="app/directives/uichartitem.js"></script>
  <script src="app/directives/uichartoption.js"></script>

  <script src="app/controller.js"></script>
  <script src="app/filters.js"></script>
  <script src="app/directives.js"></script>
  <script src="app/router.js"></script>
  <script src="application.js"></script>

  <script src="resources/js/chart2.js"></script>
  <script src="resources/js/chart3.js"></script>
  <script src="resources/js/TrackballControls-2d.js"></script>

  <base href="/" />

</head>

<body ng-controller="ApplicationController">
  <!-- Title Bar -->
  <div class="jfc-container jfc-toolbar jfc-docked dock-top" ng-hide="application.preventToolbar" style="display:none;">
    <div class="cell pull-left">
      <button class="btn icon icon-back" ng-click="application.slider.makeSlide()"></button>
    </div>
  </div>
  <!-- END - Title Bar -->
  <div class="jfc-viewport animate-slide" ng-class="{'adjust-view': application.slider.animated}">

    <!-- side bar menu -->
    <div id="slider" class="jfc-slider animate-slide" ng-class="{'reveal-slider': application.slider.animated}" ng-swipe-left="application.slider.makeSlide()">
      <!-- FILTER -->
      <div class="jfc-container">
        <div class="jfc-box align-center">
          <h1 class="menu-heading red">Trouble Shoot Wizard</h1>
        </div>
      </div>
      <div class="jfc-container">
        <div class="jfc-box align-center">
          <div class="cell">
            <label class="align-left before-spacer">
              <uisearch ng-model="searchEntry" ng-init="ph = ''" placeholder="Type here to search" list="environmentList"></uisearch>
            </label>
          </div>
        </div>
      </div>
      <div class="jfc-container after-spacer">
        <div class="jfc-box ">
          <div class="cell">
            <label class="align-left before-spacer">
              <uiselect ng-model="selectedEnvironment" valuefield="" placeholder="Environment" list="environmentList"></uiselect>
            </label>
          </div>
        </div>
        <div class="jfc-box">
          <div class="cell">
            <label class="align-left">
              <uiselect ng-model="selectedPortal" valuefield="" placeholder="Portal" list="portalList"></uiselect>
            </label>
          </div>
        </div>
        <div class="jfc-box">
          <div class="cell">
            <label class="align-left">
              <uiselect ng-model="selectedProject" valuefield="" placeholder="Project" list="projectList"></uiselect>
            </label>
          </div>
        </div>
        <div class="jfc-box" ng-show="false">
          <div class="cell after-spacer">
            <div>
              <button class="btn btn-danger btn-fullwidth" ng-click="handleSubmit()" type="submit">Filter</button>
            </div>
          </div>
        </div>
        <div class="jfc-box">
          <div class="cell after-spacer">
            <div>
              <button class="btn btn-gray btn-fullwidth" ng-click="selectedEnvironment='';selectedPortal='';selectedProject='';">Reset</button>
            </div>
          </div>
        </div>
      </div>
      <!-- FILTER -->

      <!-- SLIDER LIST -->
      <div class="jfc-container jfc-list">
        <div class="jfc-view-container menu-container">
          <div class="jfc-box menu-item" ng-repeat="item in data.troubleList | filter:selectedEnvironment | filter:selectedPortal | filter:selectedProject as filterList">
            <div class="jfc-container " ng-click="hamburger.toggleAccordion($index)">
              <div class="cell icon list-firstchild align-center icon-{{item.imageName}}"></div>
              <div class="cell align-justify align-middle">
                <div class="">{{item.title}}</div>
              </div>
              <div class="cell align-middle align-left icon icon-right-angle"></div>
            </div>
          </div>

          <div ng-show="filterList.length == 0" class="jfc-box menu-item">
            <div class="jfc-container " ng-click="hamburger.toggleAccordion($index)">
              <div class="cell icon align-center"></div>
              <div class="cell align-justify align-middle">
                <div class="">No result Found</div>
              </div>
              <div class="cell align-middle align-left icon "></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="jfc-docked jfc-menu-pillar align-center" ng-show="false">
      <div class="cell align-right">
        <div ng-click="application.dosignout.toggle1()" class="jfc-container">
          <span class="cell align-left jfc-font-small icon icon-signout" style="border:0;width:33px;"></span>
          <span class="cell align-left">Signout</span>
        </div>
      </div>
    </div>
    <!-- END - side bar menu -->

  <div class="jfc-slider-overlay" ng-click="application.slider.animated = false;" ng-class="{'jfc-block': application.slider.animated}"></div>
  <div class="jfc-view-container" id="jfc-container" ng-class="{'no-toolbar':application.preventToolbar}">
    <!-- LEFT Tool Bar -->
    <div id="csHolder" class="jfc-container jfc-toolbar jfc-docked dock-left" ng-hide="application.preventToolbar">
    </div>
    <!-- END - LEFT Tool Bar -->
    <div class="jfc-view " ng-view></div>
  </div>
</div>
  <div id="jfc-load-screen" ng-click="application.slider.animated = false;" ng-show="pageLoading">
    <div class="jfc-loader-overlay"></div>
    <div class="jfc-loader">
      <div style="background:#FFF;padding-bottom:10px;">
        Loading...
      </div>
      <img src="resources/images/loading.gif">
    </div>
  </div>

  <!-- modal popup -->
  <div class="modal" ng-show="application.model.visible">
    <div class="modal-overlay modal-fade">
      <div class="modal-content">
        <div class="modal-header">
          <div class="jfc-container align-middle">
            <div class="cell align-middle bold">JSON Flow Chart</div>
          </div>
        </div>
        <div class="modal-body">
          {{application.model.errMsg}}
        </div>
        <div class="modal-footer">

          <div class="align-center modal-btn-left">
            <div>
              <div class="" ng-click="application.model.toggle()">Okay</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="shadow" ng-click="application.model.toggle()"></div>
  </div>



  <!-- modal popup signout -->

  <div class="modal-logout" ng-show="application.dosignout.sout">
    <div class="modal-overlay modal-fade">
      <div class="modal-content">
        <div class="modal-header">
          <div class="jfc-container align-middle">
            <div class="cell align-center bold">Sign Out</div>
          </div>
        </div>
        <div class="modal-body">
          Are you Sure you want to sign out?
        </div>
        <div class="modal-footer jfc-container">
          <div class="jfc-box">
            <div class="jfc-container">
              <div class="cell modal-btn-right">
                <div>
                  <div class="" ng-click="application.dosignout.toggle1()">Cancel</div>
                </div>
              </div>
              <div class="cell align-middle modal-btn-left">
                <div>
                  <div class="" ng-click="application.navigation.signout()">Sign Out</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="shadow" ng-click="application.dosignout.toggle1()">></div>
  </div>
  </div>
</body>

</html>
